{% extends 'base.html' %}

{% block title%}
    Admin Panel
{% endblock %}

{% block body %}
<div class="container-fluid my-3">
    <a href="{% url 'add_student' %}" class="btn btn-warning">Add Student</a>
</div>
<table class="table table-primary my-4 table-hover">
    <thead>
        <tr>
            <th scope="col">Roll No.</th>
            <th scope="col">Name</th>
            <th scope="col">Telugu</th>
            <th scope="col">Maths</th>
            <th scope="col">Stat</th>
            <th scope="col">Science</th>
            <th scope="col">Total Marks</th>
            <th scope="col">Percentage</th>
            <th scope="col">Operations</th>

        </tr>
    </thead>
    <tbody>
        {% for s in students %}
        <tr>
            <th scope="row">{{s.roll_no}}</th>
            <td>{{s.name}}</td>
            <td>{{s.telugu}}</td>
            <td>{{s.maths}}</td>
            <td>{{s.stat}}</td>
            <td>{{s.science}}</td>
            <td>{{s.total}}</td>
            <td>{{s.percent}}</td>
            <td>


                <a href="{% url 'edit-student' s.id %}" class="btn btn-small btn-primary" id='{s.id}'>Edit</a>


                <a href="{% url 'delete-student' s.id %}" class="btn btn-small btn-danger" id='{s.id}'>Delete</a>

            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}